<h1>Pipes <small>Angular</small></h1>
<hr />

<div class="container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let title of titles">
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- mayusculas -->
      <tr>
        <td>{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>

      <!-- minusculas  -->
      <tr>
        <td>{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>

      <!-- quita los 3 primeros caracteres, segun lo que uno le ponga   -->
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice: 3 }}</td>
      </tr>

      <!-- deja los 3 primeros caracteres, del 0 al 3  -->
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice: 0:3 }}</td>
      </tr>

      <!-- deja los 3 primeros caracteres, del 0 al 3  -->
      <tr>
        <td>{{ arrayNumber }}</td>
        <td>slice:1:5</td>
        <td>{{ arrayNumber | slice: 1:5 }}</td>
      </tr>

      <!-- no queremos ningun decimal del 3,1416..., nos dará 3 -->
      <tr>
        <td>{{ PI }}</td>
        <td>number '1.0-0'</td>
        <td>{{ PI | number: "1.0-0" }}</td>
      </tr>

      <!-- 23% -->
      <tr>
        <td>{{ porcentaje }}</td>
        <td>percent</td>
        <td>{{ porcentaje | percent }}</td>
      </tr>

      <!-- 23.40% -->
      <tr>
        <td>{{ porcentaje }}</td>
        <td>percent:'2. 2-2'</td>
        <td>{{ porcentaje | percent: "2.2-2" }}</td>
      </tr>

      <!-- salario: $1.234.50 -->
      <tr>
        <td>{{ salario }}</td>
        <td>currency</td>
        <td>{{ salario | currency }}</td>
      </tr>

      <!-- salario, con el codigo del pais(españa) -->
      <tr>
        <td>{{ salario }}</td>
        <td>currency:'EUR'</td>
        <td>{{ salario | currency: "EUR" }}</td>
      </tr>

      <!-- salario con codigo personalizado y sin decimales -->
      <tr>
        <td>{{ salario }}</td>
        <td>currency:'LIL ':'symbol':'.0-0'</td>
        <td>{{ salario | currency: "LIL ":"symbol":".0-0" }}</td>
      </tr>

      <!-- Promesa -->
      <tr>
        <td>{{ valorPromesa }}</td>
        <td>async(promise)</td>
        <td>{{ valorPromesa | async }}</td>
      </tr>

      <!-- fecha -->
      <tr>
        <td>{{ fecha }}</td>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>

       <!-- fecha: medium -->
       <tr>
        <td>{{ fecha }}</td>
        <td>date:'medium'</td>
        <td>{{ fecha | date:'medium' }}</td>
      </tr>

       <!-- fecha: short -->
       <tr>
        <td>{{ fecha }}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{ fecha | date:'MMMM - dd' }}</td>
      </tr>
   
   
   
   
    </tbody>
  </table>
</div>

<h3>JSON</h3>
<hr />
<div style="display: inline">
  <pre>

    {{ heroe | json }}
  </pre>
</div>
