<h1>Pipes <small>Angular</small></h1>
<hr />

<div class="container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let title of titles">
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- mayusculas -->
      <tr>
        <td>{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>

      <!-- minusculas  -->
      <tr>
        <td>{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>

      <!-- quita los 3 primeros caracteres, segun lo que uno le ponga   -->
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice: 3 }}</td>
      </tr>

      <!-- deja los 3 primeros caracteres, del 0 al 3  -->
      <tr>
        <td>{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice: 0:3 }}</td>
      </tr>

      <!-- deja los 3 primeros caracteres, del 0 al 3  -->
      <tr>
        <td>{{ arrayNumber }}</td>
        <td>slice:1:5</td>
        <td>{{ arrayNumber | slice: 1:5 }}</td>
      </tr>

      <!-- no queremos ningun decimal del 3,1416..., nos dará 3 -->
      <tr>
        <td>{{ PI }}</td>
        <td>number '1.0-0'</td>
        <td>{{ PI | number: "1.0-0" }}</td>
      </tr>

      <!-- 23% -->
      <tr>
        <td>{{ porcentaje }}</td>
        <td>percent</td>
        <td>{{ porcentaje | percent }}</td>
      </tr>

      <!-- 23.40% -->
      <tr>
        <td>{{ porcentaje }}</td>
        <td>percent:'2. 2-2'</td>
        <td>{{ porcentaje | percent: "2.2-2" }}</td>
      </tr>

      <!-- salario: $1.234.50 -->
      <tr>
        <td>{{ salario }}</td>
        <td>currency</td>
        <td>{{ salario | currency }}</td>
      </tr>

      <!-- salario, con el codigo del pais(españa) -->
      <tr>
        <td>{{ salario }}</td>
        <td>currency:'EUR'</td>
        <td>{{ salario | currency: "EUR" }}</td>
      </tr>

      <!-- salario con codigo personalizado y sin decimales -->
      <tr>
        <td>{{ salario }}</td>
        <td>currency:'LIL ':'symbol':'.0-0'</td>
        <td>{{ salario | currency: "LIL ":"symbol":".0-0" }}</td>
      </tr>

      <!-- Promesa -->
      <tr>
        <td>{{ valorPromesa }}</td>
        <td>async(promise)</td>
        <td>{{ valorPromesa | async }}</td>
      </tr>

      <!-- fecha -->
      <tr>
        <td>{{ fecha }}</td>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>

      <!-- fecha: medium -->
      <tr>
        <td>{{ fecha }}</td>
        <td>date:'medium'</td>
        <td>{{ fecha | date: "medium" }}</td>
      </tr>

      <!-- fecha: short -->
      <tr>
        <td>{{ fecha }}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{ fecha | date: "MMMM - dd" }}</td>
      </tr>

      <!-- para la localizacion del idioma actual  ng add @angular/localize -->
      <!-- para lo de del idioma locales:
      ng add @angular/localize 
      Luego en el modulo se importa lo de los idiomas
      import {registerLocaleData} from '@angular/common'
      import localEs from '@angular/common/locales/es 
      
      ahi mismo una funcion

      registerLocaleData(localEs)

      y luego en los providers

      {provide: LOCALE_ID, este lo importamos del angular core
       useValue:'es'
      }
      
      '; -->

      <!-- fecha: ingles -->
      <tr>
        <td>{{ fecha }}</td>
        <td>fecha | date:'MMMM - dd':'':'en'</td>
        <td>{{ fecha | date: "MMMM - dd":"":"en" }}</td>
      </tr>

      <!-- fecha: Frances Tienes que importar en el module -->
      <tr>
        <td>{{ fecha }}</td>
        <td>fecha | date:'MMMM - dd':'':'fr'</td>
        <td>{{ fecha | date: "MMMM - dd":"":"fr" }}</td>
      </tr>

      <!-- fecha: Con botones de idiomas -->
      <tr>
        <td>{{ fecha }}</td>
        <td>
          date:'MMMM - dd':'':'{{ idioma }}'
          <br />
          <button (click)="espanol(idioma)">Español</button>
          <button (click)="ingles(idioma)">Ingles</button>
          <button (click)="frances(idioma)">Frances</button>
        </td>
        <td>{{ fecha | date: "MMMM - dd":"":idioma }}</td>
      </tr>

      <!-- PIPES personalizado 
    ng g p pipes/personalizado-->
      <tr>
        <td>{{ miNombre }}</td>
        <td>personalizado {{ miNombre }}</td>
        <td>{{ miNombre | personalizado }}</td>
      </tr>


        <!-- activar-descativar-->
        <tr>
          <td>{{ nombre }}</td>
          <td>
            constraseña: {{activar}}
            <br>
            <button (click)="activar = !activar">Activar/Desactivar</button>
          </td>
          <td>{{ nombre | contrasena:activar}}</td>
        </tr>





    </tbody>
  </table>
</div>

<h3>JSON</h3>
<hr />
<div style="display: inline">
  <pre>

    {{ heroe | json }}
  </pre>
</div>


<!-- creacion del pipes para que aparezca el video de youtube de confianza -->
<h3>Dom Seguro</h3>
<hr />
<div>
  <div>
    <iframe
      width="560"
      height="315"
      [src]="domUrl | domseguro"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
